body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #6371c7, #555);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 350px;
}

.login-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 25px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: bold;
}

.form-group input {
    width: calc(100% - 22px);
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.form-group input:focus {
    border-color: #6371c7;
    outline: none;
    box-shadow: 0 0 8px rgba(99, 113, 199, 0.5);
}

.password-wrapper {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #6371c7;
    font-size: 14px;
}

button {
    background-color: #6371c7;
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #555;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 15px;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #6371c7;
    text-decoration: none;
    font-size: 14px;
}

a:hover {
    text-decoration: underline;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.remember-me label {
    font-weight: normal;
    color: #555;
}

.remember-me input[type="checkbox"] {
    margin-right: 8px;

    /* ... (otros estilos) ... */
}
.back-to-login {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #6371c7;
    text-decoration: none;
    font-size: 14px;
}

.back-to-login:hover {
    text-decoration: underline;

}